  body{
  margin: 0;
  padding: 0;
}

div{
  overflow: visible;
  position: relative;
}

.cap{
  width: 500px;
  height: 1000px;
  background-color: yellow;
  background-image: linear-gradient(to right,yellow,gold);
  margin: 0 auto;
  border-radius: 200px 200px 200px 200px;
  top: 200px;
}

.pel{
  top: -190px;
  height: 400px;
  width: 400px;
  margin: 0 50px;
  background-color: black;
  box-shadow: 0 0 0 transparent,inset 0 100px 0 white;
  border-radius: 200px 200px 200px 200px;
}

.ulls{
  margin-top: 20px;
  height: 230px;
  clear: both;
}

.celles{
  height: 20px;
  background-color: black;
  clear: both;
  margin: 0 25px;
}

.cella{
  width: 200px;
  height: 20px;
  background-color: ;
  border-radius: 10px;
  margin: 0 25px;
}

.esquerra{
  float: left;
  clear: left;
}


.dreta{
  float: right;
  clear: right;
}

.parpelles{
  height: 80px;
  margin: 0;
}

.pestanyes{
  height: 80px;
  margin: 0 75px;

}

.pupila{
  background-color: black;
  width: 40px;
  height: 40px;
  margin: 0 90px;
  border-radius: 150px;
  bottom: 225px;
  position: relative;
  z-index: 1000;
}

.pupila2{
  background-color: black;
  width: 40px;
  height: 40px;
  margin: 0 90px;
  border-radius: 150px;
  bottom: 265px;
  right: -280px;
  z-index: 1000;
}

.pestanya{
  height: 5px;
  width: 5px;
  background-color: white;
  margin: 0 10px;
  top: -80px;
  z-index: 200;
  border: 2px dotted #000;
  padding: 50px;
  border-radius: 100px;
  display: inline-block;

}

.irisos{
  height: 80px;
  margin: 0;
  left: 40px;
}

.iris{
  width: 60px;
  height: 60px;
  background-color: white;
  margin: 0 90px;
  border-radius: 150px;
  bottom: 180px;
  position: relative;
  left: -40px;
}

.nas{
     width: 100px;
     height: 120px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: orange;
     left: 200px;
     bottom: 80px;
     animation-duration: 3s;
     animation-name: move;
}

@keyframes move{
  from{
    margin-left: 50%;
    width: 10;
  }
  to{
    margin-left: 0%;
    width: 50%
  }
}
.boca{
  widht: 40px;
  height: 10px;
  border-radius: 20px;
  background-color: #423E02;
}

.oreja1{
  width: 20px;
  height: 100px;
  background-color: #F7ED1E;
  right: 100px;
  border-radius: 25%;
  bottom: 250px;
  left: 500px;
}

.oreja2{
  width: 20px;
  height: 100px;
  background-color: #F7ED1E;
  right: 100px;
  border-radius: 25%;
  bottom: 340px;
  right: 20px;
}

.triangulos{
  width: 0;
  height: 0;
  border-left: 50px solid white;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  transform: rotate(90deg);
  bottom: 1025px;
  left: 98px;
}

.triangulos2{
  width: 0;
  height: 0;
  border-left: 50px solid white;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  transform: rotate(90deg);
  bottom: 1100px;
  left: 110px;
}
.triangulos3{
  width: 0;
  height: 0;
  border-left: 50px solid white;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  transform: rotate(90deg);
  bottom: 1160px;
  left: 130px;
}
.triangulos4{
  width: 0;
  height: 0;
  border-left: 70px solid white;
  border-top: 45px solid transparent;
  border-bottom: 25px solid transparent;
  transform: rotate(90deg);
  bottom: 1220px;
  left: 150px;
}
.triangulos5{
  width: 0;
  height: 0;
  border-left: 90px solid white;
  border-top: 65px solid transparent;
  border-bottom: 25px solid transparent;
  transform: rotate(90deg);
  bottom: 1300px;
  left: 300px;
}
.triangulos6{
  width: 0;
  height: 0;
  border-left: 70px solid white;
  border-top: 45px solid transparent;
  border-bottom: 25px solid transparent;
  transform: rotate(90deg);
  bottom: 1380px;
  left: 250px;
}
.triangulos7{
  width: 0;
  height: 0;
  border-left: 70px solid white;
  border-top: 45px solid transparent;
  border-bottom: 25px solid transparent;
  transform: rotate(90deg);
  bottom: 1450px;
  left: 200px;
}
