body{
  background-color: #43C6E7;
  margin: 0;
  padding: 0;
}
.luna{
  width: 200px;
  height: 200px;
  background-color: grey;
  border-radius: 100px;
  box-shadow: inset 50px 50px 0 white;
}
.triangulo{
 width: 0;
 height: 0;
 border-right: 400px solid transparent;
 border-top: 400px solid transparent;
 border-left: 400px solid transparent;
 border-bottom: 400px solid #f0ad4e;
}
.triangulo2{
 width: 0;
 height: 0;
 border-right: 300px solid transparent;
 border-top: 300px solid transparent;
 border-left: 300px solid transparent;
 border-bottom: 300px solid #f0ad4e;
 position: relative;
 float: right;
 bottom: 600px;
}
.triangulo3{
 width: 0;
 height: 0;
 border-right: 250px solid transparent;
 border-top: 250px solid transparent;
 border-left: 250px solid transparent;
 border-bottom: 250px solid #f0ad4e;
 position: relative;
 float: right;
 bottom: 500px;
}
.nube{
  width: 250px;
  height: 150px;
  background-color: #FFF;
  border-radius: 250px 250px 150px 150px;
  position: relative;
  left: 140px;
  bottom: 900px;
}
.nube::after{
  content: '';
  background-color: #FFF;
  padding: 50px 70px;
  border-radius: 100%;
  position: relative;
  left: -20px;
  top: 90px;
}
.nube::before{
  content: '';
  background-color: #FFF;
  padding: 50px 70px;
  border-radius: 100%;
  position: relative;
  left: 150px;
  top: 50px;
}
.nube2{
  width: 250px;
  height: 150px;
  background-color: #FFF;
  border-radius: 250px 250px 150px 150px;
  position: relative;
  left: 900px;
  bottom: 900px;
}
.nube2::after{
  content: '';
  background-color: #FFF;
  padding: 50px 70px;
  border-radius: 100%;
  position: relative;
  left: -20px;
  top: 90px;
}
.nube2::before{
  content: '';
  background-color: #FFF;
  padding: 50px 70px;
  border-radius: 100%;
  position: relative;
  left: 150px;
  top: 50px;
}
.flor{
  position: relative;
  left: 150px;
  margin-right: 100px;
  animation-name: flor;
  animation-duration: 5s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  transform-origin: 0px; 

}
@keyframe flor{
  from{
    transform: rotate(0deg);
    transform-origin: 150px 0;
  }
  to{
    transform: rotate(360deg);
  }

}
.petalo{
  width: 100px;
  height: 100px;
  background-color: #FF3;
  border-radius: 100px 0 100px 0;
}
.centro{
  width: 50px;
  height: 50px;
  background-color: #F08F3A;
  border-radius: 25px;
  position: relative;
  top: -525px;
  left: -25px;
}
.p2{
  transform: translateY(-100px) rotate(60deg);
  transform-origin: 0 100px;
}
.p3{
  transform: translateY(-200px) rotate(120deg);
  transform-origin: 0 100px;
}
.p4{
  transform: translateY(-300px) rotate(180deg);
  transform-origin: 0 100px;
}
.p5{
  transform: translateY(-400px) rotate(240deg);
  transform-origin: 0 100px;
}
.p6{
  transform: translateY(-500px) rotate(300deg);
  transform-origin: 0 100px;
}
